.screen{
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  text-align: center;
}

.wordle{
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  grid-template-columns: auto;
  gap: 10px;
}

.word{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: auto;
  gap: 10px;
}

.single-char-input{
  width: 50px;
  height: 50px;
  border: 1.5px solid lightgray;
  border-radius: 2px;
  font-size: x-large;
  text-align: center;
}